#SPDX-License-Identifier: MIT-0
---
# tasks file for common
- import_tasks: disable-swap.yaml

- name: Configure hostname and hosts
  block:
    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

    - name: Ensure hostname resolvable
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "{{ ansible_default_ipv4.address }} {{ inventory_hostname }}"
        regexp: "{{ inventory_hostname }}"

  become: true

- import_tasks: keepalived.yaml
  when: inventory_hostname in groups['control_plane_nodes']

- name: Install essential packages
  ansible.builtin.apt:
    name:
      - iptables
      - vim
      # - arptables
      # - ebtables
    state: present
    update_cache: yes
