- name: Check containerd version
  command: /usr/local/bin/containerd --version
  register: containerd_version
  failed_when: false
  changed_when: false

- name: Install containerd when version mismatch
  when: "cri_version not in containerd_version.stdout"
  block:
    - name: Download binary for containerd
      ansible.builtin.get_url:
        url: https://github.com/containerd/containerd/releases/download/v{{ cri_version }}/containerd-{{ cri_version }}-linux-{{ cri_arch }}.tar.gz
        dest: /tmp/containerd.tar.gz
        mode: "0644"
        checksum: sha256:b9626a94ab93b00bcbcbf13d98deef972c6fb064690e57940632df54ad39ee71

    - name: Extract containerd.tar.gz
      ansible.builtin.unarchive:
        src: /tmp/containerd.tar.gz
        dest: /usr/local
        remote_src: true
      failed_when: ansible_check_mode and false

    - name: Create systemd unit file
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/containerd/containerd/main/containerd.service
        dest: /etc/systemd/system/containerd.service
        mode: "0644"

    - name: Reload systemd
      ansible.builtin.systemd:
        daemon_reload: yes

    - name: Enable and start containerd.service
      ansible.builtin.systemd:
        name: containerd
        enabled: yes
        state: started
      failed_when: ansible_check_mode and false

    - name: Remove downloaded archive
      ansible.builtin.file:
        path: /tmp/containerd.tar.gz
        state: absent

- name: Check runc version
  command: /usr/local/sbin/runc --version
  register: runc_check
  failed_when: false
  changed_when: false

- name: Install runc when runc not found
  when: runc_check.rc != 0
  block:
    - name: Download runc binary
      ansible.builtin.get_url:
        url: https://github.com/opencontainers/runc/releases/download/v1.3.3/runc.{{ cri_arch }}
        dest: /tmp/runc.{{ cri_arch }}
        checksum: sha256:8781ab9f71c12f314d21c8e85f13ca1a82d90cf475aa5131a7b543fcc5487543

    - name: Installed at /usr/local/sbin/runc
      ansible.builtin.command: install -m 755 /tmp/runc.{{ cri_arch }} /usr/local/sbin/runc

    - name: Cleanup archive
      ansible.builtin.file:
        path: "/tmp/runc.{{ cri_arch }}"
        state: absent

- name: Check cni plugins Installed
  ansible.builtin.stat:
    path: /opt/cni/bin
  register: cni_path

- name: Install cni plugin
  when: not cni_path.stat.exists
  block:
    - name: Create /opt/cni/bin directory
      ansible.builtin.file:
        path: /opt/cni/bin
        state: directory

    - name: Download cni binary
      ansible.builtin.get_url:
        url: https://github.com/containernetworking/plugins/releases/download/v1.8.0/cni-plugins-linux-amd64-v1.8.0.tgz
        dest: /tmp/cni-plugins-linux-amd64-v1.8.0.tgz
        checksum: sha256:ab3bda535f9d90766cccc90d3dddb5482003dd744d7f22bcf98186bf8eea8be6

    - name: Extract archive file
      ansible.builtin.unarchive:
        src: /tmp/cni-plugins-linux-amd64-v1.8.0.tgz
        dest: /opt/cni/bin
        remote_src: true
      when: not ansible_check_mode

    - name: Cleanup archive
      ansible.builtin.file:
        path: "/tmp/cni-plugins-linux-{{ cri_arch }}-v1.8.0.tgz"
        state: absent

- name: Check current config.toml file
  ansible.builtin.stat:
    path: /etc/containerd/config.toml
  register: containerd_config

- name: Generate default config.toml file
  when: not containerd_config.stat.exists
  block:
    - name: Ensure containerd config directory exists
      ansible.builtin.file:
        path: /etc/containerd
        state: directory

    - name: Get default containerd config
      ansible.builtin.command: /usr/local/bin/containerd config default
      register: default_config

    - name: Write containerd config file
      ansible.builtin.copy:
        dest: /etc/containerd/config.toml
        mode: "0644"
        content: |
          {{ default_config.stdout }}

- name: Ensure systemd option are enabled
  ansible.builtin.lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*SystemdCgroup'
    line: "            SystemdCgroup = true"
  notify: restart containerd
  when: not ansible_check_mode

- name: Ensure sandbox image is correct
  ansible.builtin.lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*sandbox ='
    line: "      sandbox = 'registry.k8s.io/pause:3.10'"
  notify: restart containerd
  when: not ansible_check_mode
