#SPDX-License-Identifier: MIT-0
---
# Configure prerequisites
- name: Enable ipv4 packet forwarding
  ansible.builtin.blockinfile:
    path: /etc/sysctl.d/k8s.conf
    create: true
    block: |
      net.ipv4.ip_forward = 1
- name: Apply sysctl params without reboot
  ansible.builtin.command: sysctl --system
  changed_when: false

# tasks file for containerd
- name: "Install container runtime: {{ cri_type }}"
  ansible.builtin.include_tasks: "{{ cri_type }}.yaml"

# Install crictl
- name: Install crictl
  ansible.builtin.include_tasks: crictl.yaml
